/* .post {
  max-width: 600px;
  background-color: white;
  margin-bottom: 16px;
}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 0.5px solid #eff2f2;
  border-bottom: 0.5px solid #eff2f2;
}

.post__header {
  display: flex;
  padding: 12px;
  justify-content: space-between;
}

.post__headerInfo {
  margin-left: 10px;
} */

/* .post__bottom {
  padding: 6px 12px;
  display: flex;
} */

/* .post video {
  max-width: 100%;
  max-height: 70vh;
  align-items: center;
} */





.author {
  font-size: 14px;
  font-weight: 800;
  line-height: 1;
  text-transform: capitalize;
}

.author a {
  color: #333333;
}

.posted-author .post-time {
  display: block;
  font-size: 14px;
  line-height: 1;
  padding-top: 10px;
}

.comment-box{
  background-color: #FFEFEF;
  max-height: 150px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.comment-box::-webkit-scrollbar {
  display: none;
}

.post-author{
  margin-left: 20px;
}

.post-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  margin-top: 20px;
}

.profile-thumb{
  display: inline-block;
  position: relative;
}

.post-thumb-gallery {
  border-radius: 5px;
  overflow: hidden;
}

.post-thumb img {
  width: 100%;
}

.post-thumb video {
  width: 100%;
}

.post-content {
  padding-top: 18px;
}

.post-desc{
  padding-bottom: 16px;
}


/* .post__bottom h5{
  padding: 1px 10px;
} */

/* .post__bottom p{

} */
