.header {
  background-color: white;
  padding: 5px 20px;
  border-bottom: 1px solid #dde0e1;
  width: 100%;
  height: 60px;
  margin-bottom:10px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: sticky;
  z-index: 100;
  top: 0;
  align-items: center;
}

.header > img {
  height: 35px;
}

.header__left {
  display: flex;
  flex-direction: row;
  justify-content: start;
  cursor: pointer;
}

.header__left img{
  height: 60px;
  position: absolute;
  bottom: 2px;
  left: 5%;
  padding: 0;
}

.header__RightProfileImg{
  cursor: pointer;
}


.navigations {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
}

.navigation_items {
  color: #737680;
  /* margin-right: 40px; */
  margin: 0 20px;

  cursor: pointer;
}

.header__LeftLogo {
  height: 40px;
  margin-right: 10px;
  margin-top: 2px;
}

.header__Right {
  display: inline-block;
  
  padding-right: 20px ;
}

.button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.button:focus {
  outline: none;
}
